In [9]:
import pandas as pd
d1={"name":["sai","sub","poo"],"age":[20,21,22]}
d2={"qualified":[True,True,False]}
df1=pd.DataFrame(d1)
print(df1)

  name  age
0  sai   20
1  sub   21
2  poo   22

In [10]:
df2=pd.DataFrame(d2)
print(df2)
new=df1.join(df2)
print(new)

   qualified
0       True
1       True
2      False
  name  age  qualified
0  sai   20       True
1  sub   21       True
2  poo   22      False

In [13]:
f1={"name":["aaa","bbb","ccc"],"age":[20,25,22]}
f2={"name":["ddd","eee","fff"],"age":[22,24,25]}
df1=pd.DataFrame(f1)
print(df1)
df2=pd.DataFrame(f2)
print(df2)

  name  age
0  aaa   20
1  bbb   25
2  ccc   22
  name  age
0  ddd   22
1  eee   24
2  fff   25

In [14]:
new1=df2.merge(df1,on="age")
print(new1)

  name_x  age name_y
0    ddd   22    ccc
1    fff   25    bbb

In [18]:
df=pd.DataFrame({"team":["A","B","C","D"],"points":[90,56,78,88],"assits":[12,34,23,44],"rebound":[56,43,55,12]})
print(df)

  team  points  assits  rebound
0    A      90      12       56
1    B      56      34       43
2    C      78      23       55
3    D      88      44       12

In [19]:
df=pd.melt(df,id_vars='team',value_vars=['points','assits','rebound'])
print(df)

   team variable  value
0     A   points     90
1     B   points     56
2     C   points     78
3     D   points     88
4     A   assits     12
5     B   assits     34
6     C   assits     23
7     D   assits     44
8     A  rebound     56
9     B  rebound     43
10    C  rebound     55
11    D  rebound     12